@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=c:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: black;
    box-sizing: border-box;
}

.cabecalho {
    padding: 1% 0 0 1%;
}

.cabecalho_menu {
    display: flex;
    gap: 30px;
}

.cabecalho_menu_link {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: #898989;
}

.boasvindas {
    display: flex;
    padding: 10vh 0 0 10vh;
}

.boasvindas_conteudo {
    color: white;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Nome_titulo{
    font-size: 30px;
    font-weight: 600;
    color: #22D4FD;
    font-family: "Oswald", serif;
    padding-left: 1vh;
}

.icon_informacoes{
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: "Oswald", serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items:center;
}

.icon_contatos{
    width: 9vh;
    height: 9vh;
}

.subtitulo{
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 10vh;
    font-family: "Noto Sans", serif;
    font-weight: 200;
    font-size: 22px;
}


.habilidades_texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.habilidades_texto_titulo{
    font-size: 30px;
    color: #22D4FD;
    font-family: "Oswald", serif;

}

.habilidades_texto_subtitulo{
    display: flex;
    font-family: "Noto Sans", serif;
    font-size: 22px;
    flex-direction: column;
    list-style-type: disc;
    align-items: center;
    gap: 10px;
    margin-bottom: 15vh;
}

.rodape {
    background-color: #22D4FD;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    font-family: "Oswald", serif;
    font-weight: 600;
    bottom: 0;
    width: 100%;
}