@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=c:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --background_color: #000000;
    --cor_destaque: #22D4FD;
    --cor-texto: white;
}

body {
    background-color: var(--background_color);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 1% 0 0 1%;
}

.cabecalho_menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cabecalho_menu_link {
    font-family: "Oswald", serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor_destaque);
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: #898989;
}

.Experiencias_timeline {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    align-items: center;
    gap: 2vh;
}

.Experiencias_conteudo {
    position: absolute;
    width: 1.1vh;
    background-color: #ffffff;
    top: 23%;
    left: 49.99%;
    margin-left: 0;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.20rem;
    font-weight: 600;
    font-family: "Noto Sans", serif;
    background-color: #2f2f2f;
    padding: 3vh;
    border-radius: 2vh;
}

h2 {
    font-size: 1.30rem;
    font-weight: 600;
    color: var(--cor_destaque);
    align-items: center;
    justify-content: center;
}

.tech_informatica,
.cs_informatica {
    padding: 3vh;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: -90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    width: 80vh;
    color: var(--cor-texto);
    font-family: "Noto Sans", serif;
    font-weight: 400;
    font-size: 1rem;
    flex-direction: column;
    gap: 1.5vh;

}

.surdi,
.restaurante_parada {
    padding: 3vh;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    align-items: left;
    width: 80vh;
    color: var(--cor-texto);
    font-family: "Noto Sans", serif;
    font-weight: 400;
    font-size: 1rem;
    flex-direction: column;
    gap: 1.5vh;

}

.tempo_trabalho {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 2.2rem;
    font-family: "Noto Sans", serif;
    position: absolute;
}

.ano_tech_informatica {
    position: relative;
    left: 20vh;
    top: 20vh;
}

.ano_surdi {
    position: relative;
    right: 8vh;
    top: 40vh;
}

.ano_cs_informatica {
    position: relative;
    left: 23vh;
    top: 70vh;
}

.ano_restaurante {
    position: relative;
    right: 8vh;
    top: 93vh;
}

.rodape {
    background-color: var(--cor_destaque);
    text-align: center;
    font-size: 1.25rem;
    padding: 1.5vh;
    border-radius: 2px;
    font-family: "Oswald", serif;
    font-weight: 600;
    width: 100%;
    margin-top: 115vh;
    position: relative;
}

@media (max-width: 800px) {
    .cabecalho_menu {
        gap: 1vh;
    }
    .cabecalho_menu_link{
        margin-left: 1vh;
        font-size: 1.10rem;
    }
    .Experiencias_conteudo {
        background-color: transparent;
    }
    .Experiencias_timeline{
        width: 90%;
    }

    .tech_informatica,
    .cs_informatica {
        margin-left: -4000%;
        margin-top: 2000%;
        width: 7500%;
    }

    .surdi,
    .restaurante_parada {
        margin-top: 2000%;
        margin-left: -4000%;
        width: 7500%;
    }

    .ano_tech_informatica {
        margin-top: 5%;
        left: 5%;
    }

    .ano_surdi {
        margin-top: 40%;
        left: 10%;
    }

    .ano_cs_informatica {
        margin-top: 30%;
        left: 10%;
    }

    .ano_restaurante {
        margin-top: 40%;
        left: 10%;
    }

    .rodape{
        margin-top: 150%;
    }

}

@media (max-width: 480px) {
    .cabecalho_menu {
        gap: 1vh;
    }
    .cabecalho_menu_link{
        margin-left: 1vh;
        font-size: 1.10rem;
    }
    .Experiencias_conteudo {
        background-color: transparent;
    }
    .Experiencias_timeline{
        width: 85%;
    }

    .tech_informatica,
    .cs_informatica {
        margin-left: -3700%;
        margin-top: 1500%;
        width: 6500%;
    }

    .surdi,
    .restaurante_parada {
        margin-top: 1500%;
        margin-left: -3700%;
        width: 6500%;
    }

    .ano_tech_informatica {
        margin-top: 5%;
        left: 5%;
    }

    .ano_surdi {
        margin-top: 20%;
        left: 10%;
    }

    .ano_cs_informatica {
        margin-top: 20%;
        left: 10%;
    }

    .ano_restaurante {
        margin-top: 40%;
        left: 10%;
    }

    .rodape{
        margin-top: 210%;
    }

}