@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=c:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: black;
    box-sizing: border-box;

}

.cabecalho {
    padding: 1% 0 0 1%;
}

.cabecalho_menu {
    display: flex;
    gap: 30px;
}

.cabecalho_menu_link {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: #898989;
}
.timeline{
    position: absolute;
    width: 6px;
    background-color: #ffffff;
    top: 2vh;
    bottom: none;
    left: 50%;
    margin-left: -3px;
    border-radius: 10px;
}

h1 {
    font-size: 21px;
    font-weight: 600;
    color: #22D4FD;
}

.tech_informatica {
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 15vh;
    margin-left: -90vh;
    display: flex;
    align-items: center;
    width: 80vh;
}

.tech_subtitulo {
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ano_tech_informatica {
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    font-family: "Noto Sans", serif;
    left: 50%;
    top: 23%;
}
.surdi {
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    width: 80vh;
}

.surdi_subtitulo {
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-right: 7vh;
    gap: 5px;

}
.ano_surdi {
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    font-family: "Noto Sans", serif;
    right: 50%;
    top: 55%;
}
.cs_informatica {
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: -90vh;
    display: flex;
    align-items: center;
    width: 80vh;
}

.cs_subtitulo {
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-right: 7vh;
    gap: 5px;

}
.ano_cs_informatica {
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    font-family: "Noto Sans", serif;
    left: 50%;
    top: 80%;
}

.restaurante_parada {
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    width: 80vh;
}

.restaurante_parada_subtitulo {
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-right: 7vh;
    gap: 5px;
}
.ano_restaurante {
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    font-family: "Noto Sans", serif;
    right: 50%;
    top: 105%;
}
@media (max-width: 768px) {
    .ano_tech_informatica,
    .ano_surdi,
    .ano_cs_informatica,
    .ano_restaurante {
        position: static;
        display: block;
        text-align: center;
        margin: 10% auto;
        width: 100%;
    }
    
    .tech_informatica,
    .surdi,
    .cs_informatica,
    .restaurante_parada {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 90%;
    }
}