@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=c:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: black;
    box-sizing: border-box;

}

.cabecalho {
    padding: 1% 0 0 1%;
}

.cabecalho_menu {
    display: flex;
    gap: 30px;
}

.cabecalho_menu_link {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: #898989;
}

h1{
    text-align: center;
}
.tech_informatica{
    padding: 23px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 40vh;
    display: flex;
    align-items: center;
    width: fit-content; 
}

.tech_subtitulo{
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.surdi {
    padding: 23px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 40vh;
    display: flex;
    align-items: center;
    width: fit-content; 
}

.surdi_subtitulo{
    text-align: left;
    color: white;
    list-style-type: disc;
    font-family: "Noto Sans", serif;
    font-weight: 400px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    margin-right: 7vh;
    gap: 5px;

}

.cs_informatica{
    padding: 23px;
    background-color: #2d2d2d;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 40vh;
    display: flex;
    align-items: center;
    width: fit-content; 
}


